@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    /* background-color: rgb(52, 49, 49); */
    list-style: none;
}

header{
    height: 90px;
    display: flex;
    justify-content: space-around;
    background-color: green;
    align-items: center;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li{
    list-style: none;
    color: rgb(52, 49, 49);
    cursor: pointer;
    font-size: 25px;
    transition: .5s;
    font-family:'Kdam Thmor Pro', sans-serif;
    background-color: green;
}

li:hover{
    color: white;
    text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

.logo{
    width: 100px;
    height: auto;
}

#banner{
    background-image: url('https://assets.xboxservices.com/assets/8b/4c/8b4c9064-f29a-4fc8-accb-abef5919adfa.jpg?n=2878711_Hero-Image-1084_1920x831.jpg');
    height: 450px;
    width: 100%;
    background-position: 50% 85%;
    background-size: cover;
}

.trailer-estreia{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
    background-color: rgb(21, 21, 21);
}

.content{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer{
    width: 50%;
}

.sinopse{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-left: 30px;
    text-align:justify;
}

.description{
    color: green;
    font-size: 19px;
    font-family:'Kdam Thmor Pro', sans-serif;
    width: 100%;
}

.button{
    margin-top: 20px;
    height: 50px;
    cursor: pointer;
    transition: .5s;
    border-radius: 10px;
    font-family:'Kdam Thmor Pro', sans-serif;
    background-color: white;
    color: rgb(21, 21, 21);
    font-size: 15px;
    font-weight: bold;
    border: none;
    outline: none;
    /* Fazer com que o botão fique piscando! verde e branco 
    Ou quando pasar o mouse em cima aumentar o brilho branco*/

}

.button:hover{
    background-color: green;
}

.actor-cards-container{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(21, 21, 21);
}

.cards-content{
    margin-top: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    /* background-color: blue; */
    margin-bottom: 20px;
}

.card{
   width: 100%;
   height: 500px;
   background-size: cover;
   background-position: 50% 50%;
   border-radius: 5px;
   cursor: pointer;
   transition: 1s;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   padding: 0 0 20px 10px;
   color: #fff;
   font-size: 17px;
   font-family:'Kdam Thmor Pro', sans-serif;
    /* quando passar o maouse em cima, ficar tipo uma cobrinha verde circulando em volta do card */
}


.card:hover{
    transform:scale(1.02) ;
    /* border: 4px solid green; */
    color: green;
}

.banner-1{
    background-image: url('https://assets.xboxservices.com/assets/4f/1b/4f1b3208-aaba-404f-bd9a-60d32af7ac3a.jpg?n=320089_Image-Priority-Image-768_Optimized_1248x800.jpg');
}

.banner-2{
    background-image: url('https://assets.xboxservices.com/assets/70/ab/70ab0f0e-ac31-49c0-8f85-83adfa6038f5.jpg?n=999666_Buy-Box-Image-0_1_829x799.jpg')
}

.banner-3{
    background-image: url('https://t2.tudocdn.net/634593?w=824&h=494');
}